<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Gapi</title>
  <link data-turbolinks-track="true" href="/assets/application-2eb6d7a51d5ec8349796adf11bef9f84.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/application-8021b11c343de25b3f52231c6ae7bed5.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="MrFoO863KD/+U2wFXV74TF6bl26DqoVeh8LZbR0XMew=" name="csrf-token" />
</head>
<body style="">
<header>
<a href="/dashboard/index">
<img alt="GAPI" class="hdr-logo" src="/assets/login_hdr_logo-35755dfcf5db6f757a2d112b483453eb.png" />
</a>
<div class="welcome-name"><img alt="Sekhar Palli" src="" width="50" /></div>
<div class="welcome-name"><a data-method="delete" href="/logout" rel="nofollow">Log Out</a></div>

<div class="welcome-name">
        <a href="javascript:void(0);" onclick="switch_user(8, 1)" title="Back to old user">Back to Ravinder Kumar</a>
</div>
            
 
</header>
<nav class="nav">
    <ul class="menu">
        <li><a href="/"  >Dashboard</a>
        </li>
            <li><a href="/user/show" class=active>Users</a></li>
        <li><a href="/mailboxes/index" >Mail Box</a></li>
        <li><a href="/email_messages" >Email Messages</a></li>
        <li><a href="/calender_events" >Calendar Events</a></li>
        <li><a href="/reports/index" >Reports</a></li>
    
    </ul>
</nav>
 <div class="flash-message">  
  



 </div>
<div class="abc">               
<section>
<div class="inner-block">
<h1>Add User</h1>
<div class="frm">
<form accept-charset="UTF-8" action="/add/user" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="MrFoO863KD/+U2wFXV74TF6bl26DqoVeh8LZbR0XMew=" /></div>

        <div class="frm-row col-2">
            <div class="frm-col-1"><label>First Name</label><input type="text" name="firstname" /></div>
            <div class="frm-col-2"> <label>Last Name</label><input type="text" name="lastname" /></div>
       </div>
        <div class="frm-row col-2">
            <div class="frm-col-1"><label>Email</label><input type="text" name="email" /></div>
             <div class="frm-col-2"> <label>Password</label><input type="password" name="password" minlength="6" /></div>
        </div>
        <div class="frm-row col-1">
            <div class="frm-col-1"><input type="radio" class="with-font" id="adminrole" name="role" value="1"><label for="adminrole">Admin</label> 
            <input type="radio" class="with-font" id="userrole" name="role" value="0"><label for="userrole">User</label></div>
        </div>   
 <div class="btn"> <button class="#run-now-btn" name="submit" type="submit">Submit</button> </div>
</form> </div>
</section>

</div>
<footer>
<a href="www.anilabsinc.com" target="_blank">anilabsinc.com</a> <span>|</span> 
<a data-method="delete" href="/logout" rel="nofollow">Log Out</a>
</footer>
</body>

</html>



































































