<% include ./common/header.ejs %> 
<% include ./common/nav.ejs %> 
<div class="abc">              
<section>
<div class="inner-block">
<h1>Add User</h1>
<div class="frm">
<form accept-charset="UTF-8" action="/createuser" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="MrFoO863KD/+U2wFXV74TF6bl26DqoVeh8LZbR0XMew=" /></div>

        <div class="frm-row col-2">
            <div class="frm-col-1"><label>First Name</label><input type="text" name="firstname" /></div>
            <div class="frm-col-2"> <label>Last Name</label><input type="text" name="lastname" /></div>
       </div>
        <div class="frm-row col-2">
            <div class="frm-col-1"><label>Email</label><input type="text" name="email" /></div>
            <div class="frm-col-2"> <label>Password</label><input type="password" name="password" minlength="6" /></div>
        </div>
        <div class="frm-row col-1">
            <div class="frm-col-1">
        
               <label><input type="radio" id="adminrole" name="role" value="Admin" />Admin</label> 
               <label><input type="radio" id="userrole" name="role" value="User" />User</label>
            </div>
        </div>   
       <button class="btn-lg btn-primary" name="submit" type="submit">Submit</button>

</form>
</div>
</div>
</section>
<% include ./common/footer.ejs %>

<script>
$("#new_user").validate({
    
    rules :{
        firstname: {required: true},
        lastname: {required: true},
        email: {required: true, email : true},
        role: {required: true},
        password : { required : true , minlength : 6}
    
    },
    messages: {
        firstname :{required : "Please enter First Name"},
        lastname :{required :"Please enter Last Name"},
        email: {required: "Please enter email", email : 'Please enter valid email address'},
        role :{required :"Role is required"},
        password :{required :"Please provide password" , minlength : 'Your password must be atleast 6 characters long' }   
    },
    errorElement: "div"
});
</script>

