
  <% include ./common/header.ejs %>
  <% include ./common/nav.ejs %>
  <div class="flash-message"></div>
  <div class="abc">				
    <section>
      <a href="/auth/google_oauth2"><button type="button" class="btn btn-primary">Add Email</button></a>
      <div style="float:right" class="bttn"> <a data-class="edit-icon" data-confirm="Are you sure?" data-method="get" data-title="delete" href="/email_messages/delete_email_messages/MTU=%0A"><button type="button" class="btn btn-primary">Delete All Email Messages</button></a></div>
    </section>

    <section>
      <div class="inner-block">
      <h1>EmailMessages</h1>
      <div class="frm">
      <div class="table-responsive left width100">
        <table class="table table-bordered table-hover tablesorter"  id="myTable">
          <thead>
          <tr>
          <th><span></span>From</th>
          <th><span></span>Subject</th>
          <th><span></span> Date</th>
          <th class="sort-disabled">Body</th>
          </tr>
          </thead>
          <tbody>
              <% if (emails.length > 0) { %>
              <% for (var i = 0; i < emails.length; i++) { %>
                <tr>                        
                  <td><%= emails[i].subject %></td>
                </tr>                        
              <% } %>
              <% } %>                  
          </tbody>
        </table>  
      </div>
      </div>
    </section>
  </div>
  <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
    } );
  </script>
  <% include ./common/footer.ejs %>
