<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Gapi</title>
  <link data-turbolinks-track="true" href="/assets/application-2eb6d7a51d5ec8349796adf11bef9f84.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/application-8021b11c343de25b3f52231c6ae7bed5.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="XJBoqvBa1fEjxPPaRWI5K7Mc6LpkyzsUwIzXxjTOzsE=" name="csrf-token" />
</head>
<body style="">
<header>
<a href="/dashboard/index">
<img alt="GAPI" class="hdr-logo" src="/assets/login_hdr_logo-35755dfcf5db6f757a2d112b483453eb.png" />
</a>
<div class="welcome-name"><img alt="Ravinder Kumar" src="" width="50" /></div>
<div class="welcome-name"><a data-method="delete" href="/" rel="nofollow">Log Out</a></div>

<div class="welcome-name">
</div>
        
 
</header>
<nav class="nav">
  <ul class="menu">
    <li><a href="/dashboard"  >Dashboard</a>
    </li>
      <li><a href="/userlist" >Users</a></li>
    <li><a href="/home" class=active>Mail Box</a></li>
    <li><a href="/emailmessages" >Email Messages</a></li>
    <li><a href="/calendarevent" >Calendar Events</a></li>
    <li><a href="/reports" >Reports</a></li>
  
  </ul>
</nav>
 <div class="flash-message">  
  



 </div>
<div class="abc">       

<section>

<a href="/auth/google_oauth2"><button type="button" class="btn btn-primary">Add/Authorize Email</button></a>
</section>

<section>

<div class="inner-block">

<h1>Mail Box</h1>
<div class="frm">

     <div class="table-responsive left width100">
 <table class="table table-bordered table-hover tablesorter"  id="myTable">
        <thead>
          <tr>
            
            <th><span></span>Name</th>
            <th><span></span>Email</th>
            <th><span></span>Last Pull Date</th>
             <!--<th class="sort-disabled">From Email</th>-->
                   <th class="sort-disabled">Status</th>                      
            <th class="action sort-disabled">Action</th>
          </tr>
        </thead>
        <tbody>

           
              <tr>
               
                <td>Ravi Punia</td>
                
                <td>ravi.punia9t3@gmail.com</td>
                <td>2017-06-07 10:46:31 UTC</td>      
                    
               <!-- <td> | <button  data-toggle="modal" class="abcd" data-id="MTU=
" data-target="#fromEmailForm">Add/Update</button></td>    -->
                 <td>Authenticated</td>                        

                <td class="action">
                 
                  <a class="edit-icon" href="/fetch_messages/15" title="Edit">fetch messages</a>
                  <a class="edit-icon" href="/fetch_events/15" title="Edit">Calender Events</a>
          <a class="edit-icon" href="/email_messages" title="Edit">View Messages</a>
                 <a data-class="edit-icon" data-confirm="Are you sure?" data-method="get" data-title="delete" href="/mailboxes/delete_email/15">delete</a>            
                </td>
        

              </tr>

        </tbody>
      </table>  
      
      
 </div>
 </div>
 </div>
</section>


<div class="modal fade" id="fromEmailForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">From Email</h4>
      </div>
      <div class="modal-body">
      <form accept-charset="UTF-8" action="https://gapiruby.herokuapp.com/from_email" id="from_email_url" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="XJBoqvBa1fEjxPPaRWI5K7Mc6LpkyzsUwIzXxjTOzsE=" /></div>
  

<div class="pop-row">
 
  <input class=" form-control" id="mailbox_from_email" maxlength="50" name="mailbox[from_email]" size="50" type="email" />
  </div>
  <input type="hidden" name="id" id="mailbox_id">
   <div class="modal-footer modal-footer-btn">
       <input class="btn btn-primary" name="submit" type="submit" value="Submit" />
      </div>
</form>    </div>
  </div>
</div>
</div>

<script>

$(document).on("click", ".abcd", function () {
     var myBookId = $(this).data('id');
     $(".modal-body #mailbox_id").val( myBookId );
     // As pointed out in comments, 
     // it is superfluous to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});

</script>

</div>
<footer>
<a href="www.anilabsinc.com" target="_blank">anilabsinc.com</a> <span>|</span> 
<a data-method="delete" href="/" rel="nofollow">Log Out</a>
</footer>
</body>

</html>
