<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>Gapi Application - Admin Panel</title>
<!--[if lt IE 9]>
<![endif]-->

<!--[if lt IE 9]>
<![endif]-->
<link href="http://gapi.anilabsinc.com/assets/admin/css/dataportal.css" rel="stylesheet" type="text/css">
<link href="http://gapi.anilabsinc.com/assets/admin/css/media-queries.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div id="login-wrapper">
	<header>
		<div><a href="http://gapi.anilabsinc.com/admin"><img src="http://gapi.anilabsinc.com/assets/admin/images/spacer.gif" title="anilabsinc" /></a></div>
	</header>
	<section>
		<div class="login-wrapper">
    		<div id="login-content">
				<h1>Welcome to the <br/>Gapi App</h1>
								<div class="login-frm">
					<a href="<%= url %>" class="google-btn">Login with Google</a>
				</div>
    		</div>
			<script type="text/javascript" src="http://gapi.anilabsinc.com/assets/admin/js/jquery.js"></script>
			<script type="text/javascript" src="http://gapi.anilabsinc.com/assets/admin/js/jquery-ui.js"></script>			
		 	<footer>
            	<p><a href="http://anilabsinc.com" target="_blank">anilabsinc.com</a></p>
        	</footer>
		</div>
	</section>
	<div class="clear-b"></div>
</div>
</body>
</html>