
<% include ./common/header.ejs %>
<% include ./common/nav.ejs %>
<div class="abc">       
<section>
  <a href="<%= url %>"><button type="button" class="btn btn-primary">Authorize Email</button></a>   
</section>
<section>
  <div class="inner-block">
    <h1>Mail Box</h1>
    <div class="frm">
      <div class="table-responsive left width100">
      <table class="table table-bordered table-hover tablesorter"  id="myTable">
        <thead>
          <tr>
            <th><span></span>Name</th>
            <th><span></span>Email</th>
            <th class="action sort-disabled">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.firstname+' '+user. lastname %></td>
            <td><%= user.email %></td>
            <td class="action">
              <a class="edit-icon" href="/syncemails" title="Edit">Fetch Messages</a>
              <a class="edit-icon" href="/fetch_events/15" title="Edit">Calender Events</a>
              <a class="edit-icon" href="/emailmessages" title="Edit">View Messages</a>           
            </td>
          </tr>
        </tbody>
      </table>  
      </div>
    </div>
  </div>
</section>
</div>
<% include ./common/footer.ejs %>

