
<% include ./common/header.ejs %>
<% include ./common/nav.ejs %>

	<div class="abc">				

		<section>
		<div class="inner-block reports_search">
			<h1>Reports</h1>
			<div class="frm">

				<form accept-charset="UTF-8" autocomplete="off" id="frm_search" method="post">
					<div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" />
						<input name="authenticity_token" type="hidden" value="XJBoqvBa1fEjxPPaRWI5K7Mc6LpkyzsUwIzXxjTOzsE=" />
					</div>

					<div class="search-wrapper"><label>Select</label>
						<select name="search_string" id="search_string" style="width: 250px;">
							<option value="">--Select Report--</option>
							<option value="d3cloud" >Word Cloud</option>
							<option value="bubblechart" >Bubble Chart</option>
							<option value="timebubbleline" >Time Bubble Lines</option>
							<option value="stats" >Stats</option>
							<option value="wordfrequency" >Word Frequency Bubble</option>
						</select>
						<select name="selected_email" class="hide" id="selected_email" style="width: 250px;">
							<option value="">--Select Email--</option>
							<% for (var x in userlist) { %>
							<option value="<%= userlist[x].email; %>" ><%= userlist[x].email; %></option>
							<% } %>
						</select>
						<select name="seltype" id="seltype"  class="hide" style="width: 150px; display: inline-block;" aria-required="true" aria-invalid="false" class="valid">
							<option value="" selected="selected">--Select Type--</option>
							<option value="all" >All</option>
							<option value="received" >Received</option>
							<option value="sent" >Sent</option>
						</select>
						<select name="selmon" id="selmon" class="hide" style="width: 150px;">
							<option value="">--Select Month--</option>
							<option value="0" >All</option>
							<option value="01" >January</option>
							<option value="02" >February</option>
							<option value="03" >March</option>
							<option value="04" >April</option>
							<option value="05" >May</option>
							<option value="06" >June</option>
							<option value="07" >July</option>
							<option value="08" >August</option>
							<option value="09" >September</option>
							<option value="10" >October</option>
							<option value="11" >November</option>
							<option value="12" >December</option>
						</select>

						<select name="selyear" id="selyear" class="hide" style="width: 150px; display: inline-block;">
							<option value="">--Select Year--</option>
							<option value="2016" >2016</option>
							<option value="2015" >2015</option>
							<option value="2014" >2014</option>
						</select>

						<button class="btn"><i class="fa fa-floppy-o"></i><span>Go</span></button>
						<button class="btn" type="reset"><i class="fa fa-times"></i><span>Clear</span></button>
					</div>
				</form>
			</div>
		</div>

	</section>

	<script>

	$(document).on('change','#search_string',function(){
		var type = $(this).val();
		if(type)
		{
			$("#selected_email").removeClass('hide');
			if(type =='bubblechart')
			{				
				$("#seltype").removeClass('hide');
				$("#selmon").addClass('hide');
				$("#selyear").addClass('hide');
				
			}else if(type == 'timebubbleline')
			{
				$("#selmon").removeClass('hide');
				$("#selyear").removeClass('hide');
				$("#seltype").addClass('hide');
			}
			else
			{
				$("#selmon").val('');
				$("#selmon").addClass('hide');
				$("#selyear").addClass('hide');
				$("#seltype").addClass('hide');
			}
		}
		else
		{
			$("#selected_email").addClass('hide');		
			$("#selmon").val('');	
			$("#selmon").addClass('hide');
			$("#selyear").addClass('hide');
			$("#seltype").addClass('hide');
		}
			
		
	});

	$("#frm_search").validate({
		ignore:":hidden",
		rules :{
			search_string: {required: true},
			selected_email: {required: true},
			seltype: {required: true},
			selmon: {required: true},		
			selyear: {required: true},
		},
		messages: {
			search_string :{required :"Please select report type"},
			selected_email :{required :"Please select email"},
			seltype: {required: "Please select type"},
			selmon :{required :"Please select month"},
			selyear :{required :"Please select year"}
		},
		errorElement: "em"
	});
		</script>


	</div>
<% include ./common/footer.ejs %>
