<!DOCTYPE html>

<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gapi</title>
  <link data-turbolinks-track="true" href="/styles/application-2eb6d7a51d5ec8349796adf11bef9f84.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/js/application-8021b11c343de25b3f52231c6ae7bed5.js"></script>
  <script src="/js/jquery.js" charset="utf-8"></script>
  <script src="/js/jquery.validate.min.js" charset="utf-8"></script>
  <script src="/js/jquery-ui.js" charset="utf-8"></script>
  <script src="/js/d3.v3.min.js" charset="utf-8"></script>
  
</head>

<body>
  <header>
    <a href="/dashboard"><img alt="GAPI" class="hdr-logo" src='/images/hdr_logo.png' />
    <div class="welcome-name"></div>
    <div class="welcome-name"><a href="/logout" rel="nofollow">Log Out</a></div>
    <div class="welcome-name">
    </div>
  </header>
 
