
  <nav class="nav">
    <ul class="menu">

      <li><a href="/dashboard">Dashboard</a></li>
      <% if(role == 'Admin') { %> 
      <li><a href="/userlist">Users</a></li> <% } %>
      <li><a href="/mailbox" >Mail Box</a></li>
      <li><a href="/emailmessages" >Email Messages</a></li>
      <li><a href="/calendarevent" >Calendar Events</a></li>
      <li><a href="/reports" >Reports</a></li>

    </ul>
  </nav>
  
<!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
      <div class="flash-message">
        <div class="alert alert-success"><p><%= message %></p></div>
      </div>  
    <% } %> 